* {
	margin: 0;
	padding: 0;
	border: 0;
}

body {
	height: 100vh;
	font-size: 18pt;
	font-family: Arial, Helvetica, sans-serif;
	font-weight: normal;
	color: #FFF;
	background-color: #000;
	overflow: hidden;
}

.image-container {
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.hide:not(.show) {
	display: none;
}

.header {
	font-size: 24pt;
	text-align: center;
}

.footer {
	font-size: 14pt;
	text-align: right;
}
