.slide-container {
	background-color: #000;
}

#main {
	height: 100%;
}

#reel {
	padding: 0.5em;
	background-color: #333;
	display: flex;
	font-size: 6pt;
}

#reel > div {
	width: 20em;
	height: 15em;
	margin: 0.5em;
	padding: 2px;
	background-color: #000;
}

#reel img {
	overflow: hidden;
	max-height: 33%;
	max-width: 33%;
}

#reel .header {
	font-size: 8pt;
}

#reel .footer {
	font-size: 5pt;
}
