body {
	margin: 0;
	font-family: Arial, Helvetica, sans-serif;
	font-weight: normal;
}

.slide-container {
	color: #FFF;
	background-color: #000;
	overflow: hidden;
}

.image-container {
	display: flex;
	justify-content: center;
	align-items: center;
}

.header { text-align: center; }
.lyrics { font-weight: bold; }
.footer { text-align: right; }

#main.presentation {
	/* hardcode the width and height */
	padding: 0.5em 5em;
	width: calc(1024px - 5em);
	height: calc(768px - 0.5em);
}

#main.preview {
	height: calc(100vh - 10.3em);
}

#main.preview .slide-container {
	height: 100%;
}

#main .slide-container:not(.show) {
	display: none;
}

#main .header { font-size: 36pt; }
#main .lyrics { font-size: 32pt; }
#main .footer { font-size: 22pt; padding-top: 3em; }

#reel {
	height: calc(9.3em);
	border: 0.5em solid #333;
	overflow-x: scroll;
}

#reel .slide-container {
	min-width: 10em;
	width: 10em;
	height: 7em;
	display: table-cell;
	border: 0.5em solid #333;
	padding: 2px 20px;
}

#reel .image-container {
	vertical-align: middle;
}

#reel .show {
	background-color: #114;
}

#reel img {
	margin: auto;
	max-height: 66%;
	max-width: 66%;
	display: block;
}

#reel .header { font-size: 8pt; }
#reel .lyrics { font-size: 7pt; }
#reel .footer {	font-size: 5pt; padding-top: 10px; }
