* {
	margin: 0;
	padding: 0;
	border: 0;
}

body {
	height: 100vh;
	width: 100vw;
	font-size: 18pt;
	font-family: Arial, Helvetica, sans-serif;
	font-weight: normal;
	color: #FFF;
	background-color: #000;
}

.header {
	font-size: 24pt;
	text-align: center;
}

.footer {
	font-size: 14pt;
	text-align: right;
}
