body {
	margin: 0;
	font-family: Arial, Helvetica, sans-serif;
	font-weight: normal;
	background-color: #000;
}

.slide-container {
	color: #FFF;
	background-color: #000;
	overflow: hidden;
}

.image-container {
	display: flex;
	justify-content: center;
	align-items: center;
}

.header { text-align: center; }
.lyrics { font-weight: bold; }
.footer { text-align: right; }

/* * * * * * * * * * * * * MAIN * * * * * * * * * * * * */

#main {
}

#main.presentation .slide-container {
	/* Hardcode the width and height
	The projector we use can be one of the following resolutions:
	800x600
	1024x768 (currently using with powerpoint)
	1280x768
	1280x1024
	1400x1050
	1600x1200
	*/
	padding: 0.5em 5em;
	width: calc(800px - 5em);
	height: calc(600px - 0.5em);
}
#main.preview .slide-container {
	margin: calc(50vh - 300px - 5em) calc(50vw - 400px + 2.5em);
	width: calc(800px - 5em);
	height: calc(600px - 0.5em);
}

#main .slide-container {
	opacity: 0;
	transition: opacity 0.2s linear;
	position: absolute;
}

#main .show {
	z-index: 1;
	opacity: 1;
	/*display: none;*/
}

#main .header { font-size: 36pt; }
#main .lyrics { font-size: 32pt; }
#main .footer { font-size: 22pt; padding-top: 3em; }

/* * * * * * * * * * * * * REEL * * * * * * * * * * * * */

#reel {
	height: calc(9.3em);
	border: 0.5em solid #333;
	overflow-x: scroll;
}

#reel .slide-container {
	min-width: 10em;
	width: 10em;
	height: 7em;
	display: table-cell;
	border: 0.5em solid #333;
	padding: 2px 20px;
}

#reel .image-container {
	vertical-align: middle;
}

#reel .show {
	background-color: #114;
}

#reel img {
	margin: auto;
	max-height: 66%;
	max-width: 66%;
	display: block;
}

#reel .header { font-size: 8pt; }
#reel .lyrics { font-size: 7pt; }
#reel .footer { font-size: 5pt; padding-top: 10px; }
